@font-face {
    font-family: 'nitti-light';
    src: url('/fonts/nitti-light/nitti-light-webfont.eot');
    src: url('/fonts/nitti-light/nitti-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nitti-light/nitti-light-webfont.woff2') format('woff2'),
         url('/fonts/nitti-light/nitti-light-webfont.woff') format('woff'),
         url('/fonts/nitti-light/nitti-light-webfont.ttf') format('truetype'),
         url('/fonts/nitti-light/nitti-light-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
